<div class="grid-container" style="height: 100%;overflow-x:auto;">
  <div class="docs-primary-header">
    <h1 class="mat-h1"><i class="material-icons">dashboard</i> Dashboard</h1>
  </div>

  <div class="card-container">

    <!--<div class="card" style="cursor: pointer !important;" (click)="route('/productControl')">
      <div class="card-image" style="background-image: url('../../../assets/img/database.png');"></div>
      <div class="card-info" style="background: #ef6c00;">
        <div class="card-title">
          <div style="text-align: start;width: 79%;display: inline-block;vertical-align: middle;"> Revisiones </div>
          <div style="text-align: end;width: 19%; display: inline-block;vertical-align: middle;">
            <mat-icon>today</mat-icon>
          </div>
        </div>
        <div class="card-subtitle">
          Gestione el estado de sus tickets para reparación de productos.
        </div>
      </div>
    </div>-->
    
    <div  class="card" style="cursor: pointer !important;" (click)="route('/clients')">
      <div class="card-image" style="background-image: url('../../../assets/img/auth.png');text-align:end;">
      </div>
      <div class="card-info" style="background: #ab60b8;">
        <div class="card-title">
          <div style="text-align: start;width: 49%;display: inline-block;vertical-align: middle;"> Clientes </div>
          <div style="text-align: end;width: 49%; display: inline-block;vertical-align: middle;">
            <mat-icon>people</mat-icon>
          </div>
        </div>
        <div class="card-subtitle">
          Administre y observe datos de sus clientes.
        </div>
      </div>
    </div>
  </div>
</div>